<div class="container-fluid profile-stats" style="background-color: green;">
  <div class="row">
    <div class="col-lg-4 column-profile">
      <div class="avatar">
        <%= image_tag @user.avatar, class: "avatar-large" %>
      </div>
      <h4><%= @user.first_name %></h4>
      <br>
      <%= @user.last_name %><br>
      <%= @user.job_title %><br>
      <%= @user.email %><br>
      <%= @user.phone_number %><br>
    </div>
    <div class="col-lg-8 column-stats">
      <h1>Toutes mes stats</h1>
      <%= @user.allowed_days_per_weeks %>
    </div>
  </div>
</div>
