<div class="container-fluid">
  <div class="row">
    <div class="w-50" style="padding-left: 100px; padding-right: 48px;">

      <form action="/coworkings" method="get" class="w-50 d-flex">
        <input type="date" class="form-control" name="booking_date" value="<%= params[:booking_date] %>">
        <input type="submit" value="Valider la date" class="btn btn-primary ml-4">
      </form>

      <% @coworkings.each do |coworking| %>
        <div class="coworking-card">
          <% if coworking.photos.attached? %>
            <%= cl_image_tag(coworking.photos.first.key)%>
          <% else %>
            <p>Photo à venir</p>
          <% end %>

          <div>
            <h2><%= link_to coworking.name, coworking_path(coworking, date: @date) %></h2>
            <p><%= coworking.address %></p>

            <small class="text-secondary">
              <%= coworking.opening_time.hour %>h / <%= coworking.closing_time.hour %>h
              <% coworking.equipements.each do |equipement| %>
                <% equipement = equipement.name %>
                • <%= equipement %>
              <% end %>
            </small>
          </div>
        </div>

      <% end %>

    </div>
    
  <div id="map"
      class="w-50 vh-100 position-sticky"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
