
<div class="container-fluid">
  <div class="row">
    <div class="w-50" style="background-color: lightseagreen; padding-left: 100px; padding-right: 100px;">
      <form action="/coworkings" method="get" class="w-50 d-flex">
        <input type="date" class="form-control" id="datepicker" data-provide="datepicker" name="booking_date">
        <input type="submit" value="Valider la date" class="btn btn-primary">
      </form>
      One of two columns
    </div>

    <div class="w-50" style="background-color: lightcoral;">
      One of two columns
    </div>
  </div>
</div>





<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-lg-6">

      <div class="row coworkings-list">

        <div class="row coworking-fields">
          <div class="col-12 col-lg-12">
            <form action="/coworkings" method="get" class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="date" class="form-control" id="datepicker" data-provide="datepicker" name="booking_date">
                  <input type="submit" value="OK">
                </div>
              </div>
            </form>
          </div>
        </div>

        <% @coworkings.each do |coworking| %>
          <div class="coworking-card">
            <% if coworking.photos.attached? %>
              <%= cl_image_tag(coworking.photos.first.key)%>
            <% else %>
              <p>Je n'ai pas de photo - mettre une image par défaut</p>
            <% end %>
            <div>
              <%= link_to "OK", coworking_path(coworking, date: @date) %>
              <h2><%= coworking.name %></h2>
              <p><%= coworking.address %></p>
              <small><%= coworking.equipements %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-6 vh-100" style="background-color: lightseagreen;">
      map
    </div>

  </div>
</div>


