<% equipements_hash = {
  acces: "Accès PMR",
  secu: "Doc. unique de secu",
  repas: "Espace repas",
  fauteuil: "Fauteuils ergomiques",
  firewall: "Firewall",
  imprimante: "Imprimante",
  internet: "Internet Haut Débit"
} %>


<div class="container">

  <div class="col-12 col-lg-6">

    <%= simple_form_for(@coworking) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name%>
      <%= f.input :address%>
      <br>

      <h5>Equipements :</h5>
      <br>
      <div>
        <% equipements_hash.each do |key, value| %>
          <%= check_box_tag(key.to_sym) %>
          <%= label_tag(key.to_sym, value) %><br>
          <!-- voir collection_check_boxes -->
        <% end %>
      </div>
      <br>

      <h5>Horaires d'ouverture:</h5>
      <br>
      <!-- f.collection_select -->
      <div class="d-flex justify-content-around align-items-center">
        <p>de </p>
        <%= f.input :heures, collection: 0...24, prompt: "Selectionnez une heure", selected: 9 %>&nbsp;
        <%= f.input :minutes, collection: ['00', '30'], prompt: "Selectionner une plage", selected: ['00'] %>
        <p>à</p>
        <%= f.input :heures, collection: 0...24, prompt: "Selectionnez une heure", selected: 18 %>&nbsp;
        <%= f.input :minutes, collection: ['00', '30'], prompt: "Selectionner une plage", selected: ['30'] %>
      </div>
      <br>

      <h5>Gestionnaire :</h5>
      <br>
      <div class="d-flex align-items-center">
        <%= f.input :contact_first_name, label: 'Prénom du gérant'%>&nbsp;
        <%= f.input :contact_last_name, label: 'Nom du gérant'%>
      </div>

      <%= f.label "Photo du gérant" %>
      <%= f.file_field :avatar %>
      <br>

      <div>
        <h5>Photos du lieu :</h5>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <br>

        <%= f.submit %>

    <% end %>
  </div>
</div>


<div style="height: 200px"></div>

<!-- t.string "name"
t.string "address"
t.string "equipements"
t.string "contact_first_name"
t.string "contact_last_name"
t.string "contact_email"
t.datetime "created_at", precision: 6, null: false
t.datetime "updated_at", precision: 6, null: false -->


<!-- ['Accès PMR', 'Doc. unique de secu', 'Espace repas', 'Fauteuils ergomiques', 'Firewall', 'Imprimante', 'Internet Haut Débit'
 -->

